<div class="flex w-fit h-full">
  <div class="flex flex-col h-full p-4 gap-2 bg-bg-sidebar w-fit">
    <div class="flex justify-center p-2">
    </div>

    <button
      (click)="selected.set(NavSection.Friends)"
      class="relative bg-bg-elevated border border-border rounded-md flex justify-center p-4 transition-colors"
      [class.bg-primary-600]="selected() === NavSection.Friends"
    >
      @if (selected() === NavSection.Friends) {
        <span
          class="absolute -left-4 top-1/2 -translate-y-1/2 w-[3px] h-[60%] bg-primary-500 rounded-r-full"
        ></span>
      }
      <i class="pi pi-users"></i>
    </button>

    <button
      (click)="selected.set(NavSection.Servers)"
      class="relative bg-bg-elevated border border-border rounded-md flex justify-center p-4 transition-colors"
      [class.bg-primary-600]="selected() === NavSection.Servers"
    >
      @if (selected() === NavSection.Servers) {
        <span
          class="absolute -left-4 top-1/2 -translate-y-1/2 w-[3px] h-[60%] bg-primary-500 rounded-r-full"
        ></span>
      }
      <i class="pi pi-server"></i>
    </button>
  </div>
  @if (selected() === NavSection.Friends) {
    <app-secondary-navbar></app-secondary-navbar>
  }
</div>
