<div class="flex flex-col gap-5 m-10 w-full h-full">
  <div class="w-full">
    <span class="text-xl font-mono text-text-primary">My Account</span>
  </div>
  <div
    class="flex flex-col w-full max-w-md h-full rounded-lg border border-border bg-bg-card overflow-hidden"
  >
    <div
      class="w-full max-h-16 h-full bg-gradient-to-br from-primary-700 via-primary-500 to cyan"
    ></div>
    <div class="flex flex-col px-5 pb-5"></div>
    <div class="w-full flex items-end justify-between -mt-6 mb-3">
      <div
        class="w-12 h-12 rounded-full border-[3px] border-bg-card bg-gradient-to-br from-primary-500 to cyan flex items-center justify-center text-sm font-sans font-bold text-text-primary relative"
      >
        MK
        <span class="absolute bottom-0 right-0 bg-online rounded-full border-0 p-1"></span>
      </div>
      <button class="flex items-center gap-1.5 border border-border rounded-sm px-3.5 py-1.5">
        <i class="pi pi-cog"></i>
        Edit Profile
      </button>
    </div>
  </div>
</div>
